body {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300;
  background: #464646 url("../images/background.png") no-repeat fixed center center;
  background-size: cover;
}

hr {
	color: rgb(125,0,0);
}

a {
  color: white;
}

.text-muted {
	color: #D0D0D0;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 50px;
}

.modal-text {
	color: black;
}

.logo-center {
  margin-top: 15px;
}
